# use glob syntax.
syntax: glob
*.ser
*.class
*~
*.bak
#*.off
*.old
*.cache-*

# eclipse conf file
.settings
.classpath
.project
.manager
.scala_dependencies


# idea
.idea
*.iml

# vs code
.vscode

# building
target
build
null
tmp*
temp*
dist
test-output
build.log

# other scm
.svn
.CVS
.hg*

# switch to regexp syntax.
#  syntax: regexp
#  ^\.pc/

# output not in target directory
build.log
.cache
.cache-main
.cache-tests

# some generated output should not be gitted
src-gen
xtend-gen

target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/
bin/

# No archives
*.gz
*.tar


# Jupyter notebooks
.ipynb_checkpoints
__pycache__

# python example projects
/scray-examples/python/output/
*.crc
*.parquet

