confluent_kafka==2.6.2
connection==0.0.1
gensim==4.3.3
ipython==8.12.3
kafka_python==2.0.2
langchain==0.3.19
numpy==1.24.4
pandas==2.2.3
Pillow==11.1.0
plotly==5.24.1
pymsteams==0.2.5
pyspark==3.5.2
pyspark.egg==info
regex==2024.11.6
scikit_learn==1.3.1
seaborn==0.13.2
setuptools==68.2.2
shap==0.46.0
textsplit==0.5
xgboost==2.1.4
git+https://github.com/scray/scray.git@develop#subdirectory=scray-querying/modules/scray_sync_client
git+https://github.com/scray/scray.git@develop#subdirectory=scray-examples/ml-job-coordination/scripts/scray_job_client